In [ ]:
import pandas as pd
import os

## Import the data

In [11]:
df_raw = pd.read_csv(r"C:\Users\s1lva\Desktop\wcx\UW\Cse 412\Final Project\Data\linkedin_job_cleaned_merged_small_0211.csv")

df_raw.head()

   Unnamed: 0  ...                                         job_skills
0           0  ...  Warehouse Management, Inventory Control, Mater...
1           1  ...  Sales, Customer Service, Merchandising, Invent...
2           2  ...  Nursing, Registered Nurse license, Client care...
3           3  ...  Customer service, POS system, Stocking shelves...
4           4  ...  Patient care, Chronic care, Medical terminolog...

[5 rows x 21 columns]

Basic procedure

In [ ]:
df = df_raw

df.drop(columns=["Unnamed: 0", "job_link"], inplace=True, errors="ignore")
df = df[df["got_summary"] == "t"]
df.drop(columns=["got_summary"], inplace=True)
df.drop(columns=["job_location"], inplace=True)
df.drop(columns=["is_being_worked"], inplace=True)
df["first_seen"] = pd.to_datetime(df["first_seen"])
df.drop(columns=["got_ner"], inplace=True)
df.drop(columns=["search_city"], inplace=True)

In [44]:
df.head()

                                           job_title  ...                                         job_skills
0     Warehouse Associate/ driver/ Inventory Control  ...  Warehouse Management, Inventory Control, Mater...
1                       Sales Supervisor - Spencer's  ...  Sales, Customer Service, Merchandising, Invent...
2  Registered Nurse (Women, Infants, & Children) ...  ...  Nursing, Registered Nurse license, Client care...
3                    CUSTOMER SERVICE REPRESENTATIVE  ...  Customer service, POS system, Stocking shelves...
4                               Customer Service Rep  ...  Patient care, Chronic care, Medical terminolog...

[5 rows x 14 columns]

In [49]:
state_counts = df["state"].value_counts().reset_index()
state_counts.columns = ["state", "count"]

state_counts.head(30)

   state   count
0     CA  108074
1     TX   77300
2     FL   63221
3     PA   40987
4     OH   39565
5     NY   37009
6     VA   34303
7     NC   33880
8     MA   28326
9     IL   27936
10    GA   27436
11    MI   26821
12    WA   23897
13    AZ   22324
14    NJ   21489
15    CO   20850
16    MD   19919
17    IN   18798
18    WI   17606
19    SC   16174
20    TN   16056
21    MN   15400
22    AL   14927
23    OR   14213
24    MO   13865
25    IA   13044
26    LA   11084
27    CT   11078
28    NV   10421
29    OK    9884

Split the huge dataframe by state into several datasets with approriate size

In [66]:
def export_state_data(df, state_code, drop_cols=None):
    
    base_path = "C:/Users/s1lva/Desktop/wcx/UW/Cse 412/Final Project/Data/Final Data"
    
    df_state = df[df["state"] == state_code].copy().reset_index(drop=True)
    
    if drop_cols is not None:
        df_state.drop(columns=drop_cols, inplace=True, errors="ignore")

    output_path = f"{base_path}/linkedin_jobs_{state_code}.csv"
    
    df_state.to_csv(output_path, index=False)
    
    print(f"{state_code} exported to:", output_path)
    print("Rows:", df_state.shape[0])
    
    return df_state

In [ ]:
drop_columns = ["country", "city_state"]

states = ["CA", "TX", "FL"]

for state in states:
    export_state_data(df, state, drop_columns)

CA exported to: C:/Users/s1lva/Desktop/wcx/UW/Cse 412/Final Project/Data/Final Data/linkedin_jobs_CA.csv
Rows: 108074
TX exported to: C:/Users/s1lva/Desktop/wcx/UW/Cse 412/Final Project/Data/Final Data/linkedin_jobs_TX.csv
Rows: 77300
FL exported to: C:/Users/s1lva/Desktop/wcx/UW/Cse 412/Final Project/Data/Final Data/linkedin_jobs_FL.csv
Rows: 63221

In [ ]:
base_path = "C:/Users/s1lva/Desktop/wcx/UW/Cse 412/Final Project/Data/Final Data"
os.makedirs(base_path, exist_ok=True)

def export_states_in_groups(df, states, group_size=3):
    
    for i in range(0, len(states), group_size):
        
        group = states[i:i+group_size]
        
        df_group = df[df["state"].isin(group)].copy().reset_index(drop=True)
        
        filename = f"linkedin_jobs_{'_'.join(group)}.csv"
        output_path = f"{base_path}/{filename}"
        
        df_group.to_csv(output_path, index=False)
        
        print(f"Exported: {filename} | Rows: {df_group.shape[0]}")

In [67]:
states = [
    "PA","OH","NY",
    "VA","NC","MA",
    "IL","GA","MI",
    "WA","AZ","NJ",
    "CO","MD","IN",
    "WI","SC","TN",
    "MN","AL",
    "MO","IA","LA",
    "CT","NV","OK"
]


export_states_in_groups(df, states)

Exported: linkedin_jobs_PA_OH_NY.csv | Rows: 117561
Exported: linkedin_jobs_VA_NC_MA.csv | Rows: 96509
Exported: linkedin_jobs_IL_GA_MI.csv | Rows: 82193
Exported: linkedin_jobs_WA_AZ_NJ.csv | Rows: 67710
Exported: linkedin_jobs_CO_MD_IN.csv | Rows: 59567
Exported: linkedin_jobs_WI_SC_TN.csv | Rows: 49836
Exported: linkedin_jobs_MN_AL_MO.csv | Rows: 44192
Exported: linkedin_jobs_IA_LA_CT.csv | Rows: 35206
Exported: linkedin_jobs_NV_OK.csv | Rows: 20305